.container {
    padding: 100px 0;
}

section {
  width: 400px;
  height: 600px;
  margin: 0 auto;
}

.violet {
  background-color: #9982f1;
}

.indigo {
  background-color: #82A9F1;
}

.blue {
  background-color: #7AF1B2;
}

.green {
  background-color: #CAFF4E;
}

.yellow {
  background-color: #FFF44E;
}

.orange {
  background-color: #FF9F77;
}

.red {
  background-color: #FF7777;
}